.skill{
    padding-bottom: 94px;
}

.skill-list {
    display: flex;
    margin-left: -30px;
    
}

.skill-list__item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
  
}

.skill-list__top-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 30px;
    background: rgba(47, 48, 58, 0.8);
}
   


.skill__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}